# AutoGluon Time Series - Forecasting Quick Start

## Loading time series data as a ```TimeSeriesDataFrame```

### Import required modules

In [1]:
import pandas as pd
from autogluon.timeseries import TimeSeriesDataFrame, TimeSeriesPredictor

### Load a subset of the M4 hourly dataset as a ```pandas.DataFrame```

In [2]:
df = pd.read_csv(
    "https://autogluon.s3.amazonaws.com/datasets/timeseries/m4_hourly_subset/train.csv"
)
df.head()

  item_id            timestamp  target
0      H1  1750-01-01 00:00:00   605.0
1      H1  1750-01-01 01:00:00   586.0
2      H1  1750-01-01 02:00:00   586.0
3      H1  1750-01-01 03:00:00   559.0
4      H1  1750-01-01 04:00:00   511.0

In [3]:
train_data = TimeSeriesDataFrame.from_data_frame(
    df, id_column="item_id", timestamp_column="timestamp"
)
train_data.head()

                             target
item_id timestamp
H1      1750-01-01 00:00:00   605.0
        1750-01-01 01:00:00   586.0
        1750-01-01 02:00:00   586.0
        1750-01-01 03:00:00   559.0
        1750-01-01 04:00:00   511.0